section{
    display: grid;
    grid-template-rows:75% 25%;
    grid-template-columns:1fr 1fr 1fr;
    margin-top: 35px;
    padding: 0;
}

.one{
    grid-row: 1/2;
    grid-column: 1/2;
}

.two{
    grid-row: 1/2;
    grid-column: 2/3;
}

.three{
    grid-row: 1/2;
    grid-column: 3/4;
}

.four{
    grid-row: 2/3;
    grid-column: 1/4;
}

.one,.two,.three,.four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.two{
    position: relative;
}

.two em{
    background-image: url(./../images/q.jpg);
}

.two em,.two img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.swe{
    position:absolute;
    top:350px;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    font-family:papyrus,monospace;
    font-size: 1.2em;
}
.four{
    flex-direction: row;
}
.four a{
    display: block;
    text-align: center;
    width: 200px;
    height: 110px;
    padding: 15px;
    margin: 25px;
    border: 2px outset white;
    background: linear-gradient(#50675F,#1A2020);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition:border-radius 500ms;
}

.four a:hover{
    opacity: 0.8;
    border-radius: 45% 0 0 45%;
    transition: border-radius 500ms;
}

.four a:active{
    border: 3px inset #50675F;
    transition: 0ms;
}


.four a em{
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    transition: text-decoration 500ms;
}

.four a em:hover{
    text-decoration: underline;
    transition: text-decoration 5s;
}

.name1{
    text-shadow: 15px 15px 5px #000000;
}

.swe{
    text-shadow: 2px 2px 1px black;
}

p{
    font-size: 1.3em;
}

@media screen and (max-width:768px) {
    section{
        display: block;
        margin-top: 100px;
    }

    .one,.two,.three,.four{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 55px;
    }

    .four{
        flex-direction: column;
    }

    .four a:hover{
        opacity: 0.8;
        border-radius: 10px;
    }
}