/* *{
    margin:0;
    padding: 0;
} */

.fa{
    margin-right: 5px;
}

nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#465751,#232F2D);
    font-size: 2vw;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    height: 100%;
    transition: 500ms;
}

nav li a:hover {
    box-shadow: 0 0 0 1px white;
    border-radius: 30px;
    transition: 500ms;
}

body{
    background: linear-gradient(#50675F,#1A2020);
    color: white;
}

h1{
    font-size: 4em;
}

section{
    font-family: papyrus;
}

.papy-rem{
    font-size: 2rem;
    font-family: papyrus;
}