/* *{
    margin:0;
    padding: 0;
} */

.fa{
    margin-right: 5px;
}

nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#465751,#232F2D);
    font-size: 2vw;
}

.resp-img{
    display: none;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    height: 100%;
    transition: 500ms;
}

nav li a:hover {
    box-shadow: 0 0 0 1px white;
    border-radius: 30px;
    transition: 500ms;
}

body{
    background: linear-gradient(#50675F,#1A2020);
    color: white;
}

h1{
    font-size: 4em;
}

section{
    font-family: papyrus;
}

.papy-rem{
    font-size: 2rem;
    font-family: papyrus;
}

@media screen and (max-width:768px) {
    nav ul.menu{
        display: none;
    }

    nav ul{
        display: none;
    }
    
    nav .menu li{
        margin: 0;
        font-size: medium;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        background: linear-gradient(#465751,#232F2D);
    }
    
    nav ul img{
        display: none;
    } 
    
    nav li a:hover {
        box-shadow: 0 0 0 0px white;
        border-radius: 0;
    }

    nav li a:active {
        transition: 0s;
    }

    nav li a:active {
        background-color: #1A2020;
        scale: 110%;
        text-shadow: 15px 15px 5px #000000;
        transition: 0s;
    }

    .resp-img{
        display: inline;
    }
    
    
    .responsive-menu{
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }

    .responsive-menu::after{
        position: absolute;
        content: "";
        height: 3px;
        background-color: #fff;
        width: 28px;
        box-shadow: 0 10px 0 #fff;
        transform: translateY(-10px);
        transition: 0.5s;
    }
    
    .responsive-menu.active::after{
        box-shadow: 0 0 0 #fff;
        transform: rotate(45deg);
    }
    
    .responsive-menu::before{
        position: absolute;
        content: "";
        height: 3px;
        background-color: #fff;
        width: 28px;
        transform: translateY(10px);
        transition: 0.5s;
    }

    .responsive-menu.active::before{
        transform: rotate(-45deg);
    }
    
    nav .menu.responsive{
        display: flex;
        position: absolute;
        top: 50px;
        right: 0;
        flex-direction: column;
        background-color: #222;
        align-items: unset;
        border: 5px outset #1A2020;
        border-radius: 10px;
    }
    
    
}